body {
  height: 100%;
  min-width: 100%;
  background-color: rgb(8, 8, 8);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: filter 300ms;
  margin: 0;
  position: relative;
}
#Main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: filter 300ms;
  margin: 1rem;
  height: 100%;
  min-width: 100vw;
}

html {
  position: absolute;
  margin: 0;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
.Blur {
  filter: blur(3px);
}
.Instructions {
  text-align: center;
  user-select: none;
}
.CurrencyGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}
#CurrencyTabItemSpot,
#EssenceTabItemSpot {
  margin: 5px;
}

.AddBorder {
  text-align: center;
}
#InputDiv {
  user-select: none;
}
.CoordsLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#EssenceImage {
  -webkit-user-drag: none;
  user-select: none;
}
#Container,
#ExclusionContainer {
  flex-direction: column;
  align-items: center;
  user-select: none;
}
#SpecialEssenceDiv {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.Image {
  height: 40px;
  width: 40px;
  object-fit: contain;
  display: flex;
  border: 3px solid transparent;
  justify-content: center;
  align-items: center;
  align-self: center;
  -webkit-user-drag: none;
  transition: transform 0.1s ease-in-out, opacity 0.15s;
}
.Image:hover {
  opacity: 1 !important;
  transform: scale(1.1);
}

#ImageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-bottom: 5px;
  user-select: none;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Hover {
  border: 3px double;
  border-color: rgb(213, 9, 80);
}
.HoverTooltip {
  display: flex;
  font-size: 20px;
  text-align: center;
  animation: fadeIn 500ms;
}
.HoverTooltipScale {
  opacity: 1;
}
#EssenceContainer {
  padding: 1em;
  display: flex;
  -webkit-user-drag: none;
  user-select: none;
  overflow-y: auto;
}

#EssenceLeftSide {
  border-right: 50px solid transparent;
}
#EssenceRightSide {
  border-left: 50px solid transparent;
}
.EssenceDiv {
  display: flex;
  flex-direction: row;
}
#Insertion {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10px;
  width: 300px;
  height: 50px;
}
.Currency {
  margin: 5px;
}
.Input {
  background-color: rgb(40, 40, 40);
  color: aliceblue;
  margin: 10px;
  border: none;
  transition: transform 0.1s;
}
.Input:focus {
  outline: solid 2px #567828;
  box-shadow: 11 11 11px #00ff51;
}
.Input:hover {
  transform: scale(1.005);
  outline: solid 2px #567828;
}
#ExcludeModInput:focus {
  outline: solid 2px #840a0a;
  box-shadow: 11 11 11px #ff0000;
}
#ExcludeModInput:hover {
  outline: solid 2px #840a0a;
}
#CurrencyDiv {
  display: flex;
}
#HideInstructions {
  flex-direction: column;
  position: absolute;
  bottom: 1%;
  right: 1%;
  user-select: none;
}
.HideInstructions {
  display: flex;
  align-items: center;
}
.XYLabel {
  opacity: 0.2;
}
#ManualContainer {
  display: flex;
  flex-direction: row;
}
#AutoContainer {
  display: flex;
  flex-direction: row;
}

.button {
  user-select: none;
  margin: 0.5rem;
  background-image: linear-gradient(174deg, #032225, #030d15);
  color: aliceblue;
  /* border: #00ff51; */
  transition: transform 0.1s; /* Smooth transition for scaling */
  border: none;
  outline: transparent;
  padding: 8px 10px; /* Add padding */
}
.button:hover {
  transform: scale(1.05);
}

#Start {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CheckBox {
  filter: brightness(40%);
  accent-color: rgb(0, 0, 0);
}
.SelectNone {
  user-select: none;
}
#Gallery {
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 5px;
}
.GalleryImage {
  opacity: 0.35;
}
#SaveCraftIconSelector {
  position: absolute;
  top: 5rem;
  left: 5rem;
}
.Hidden {
  display: none;
}
#SavedCrafts {
  /* display: flex; */
  user-select: none;
  position: absolute;
  bottom: 1em;
  left: 1em;
}
#DeleteMenu {
  position: absolute;
  background-color: aliceblue;
  color: black;
  user-select: none;
}
.HoverSaved {
  border: 3px double;
  border-color: rgb(176, 183, 181);
}
.Mod {
  padding: 2px;
}
.ExclusionMod {
  color: rgb(255, 62, 28);
}
.ModName {
  color: rgb(112, 255, 112);
}
.Instructions {
  color: rgba(158, 206, 206, 0.884);
}
#Counter {
  color: rgb(165, 31, 31);
}
#FileNameDialog {
  z-index: 10;
  background-color: rgb(54, 54, 54);

  box-shadow: 0 0 0 999px #151515b0;
  transition: box-shadow 3s ease-in-out;

  /* backdrop-filter: blur(200px); */
  color: aliceblue;
  user-select: none;
  border: none;
}
#ExportFileInput {
  margin: 10px;
}
#SaveCraftContainer {
  padding-top: 10px;

  text-align: center;
  z-index: 10;
  background-color: rgb(54, 54, 54);

  box-shadow: 0 0 0 999px #151515b0;
  transition: box-shadow 3s ease-in-out;
  overflow: auto;
}
.UserSelectNone {
  user-select: none;
  pointer-events: none;
}
.InitiallyHidden {
  display: none;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  margin: 4px; /* Space between scrollbar and content */
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
.scrollable-container {
  scroll-margin-left: 4px; /* Adds space on the right side when scrolling */
}
